/*-----------------------------------------SETUP--------------------------------------------------*/

* {
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

body {
	background-color: #dddddd;
	overflow: hidden;
}

:focus {
	outline: none;
}

.-zazz-set-right {
	position: absolute;
	right: 0px;
}

.-zazz-horizontal-line-left {
	height: 1px;
	left: 0px;
}

.-zazz-horizontal-line-right {
	height: 1px;
	right: 0px;
}

.-zazz-vertical-line-top {
	width: 1px;
	top: 0px;
}

.-zazz-vertical-line-bottom {
	width: 1px;
	bottom: 0px;
}

.-zazz-line {
	background-color: black;
	z-index: 10;
	position: absolute;
	display: none;
	cursor: crosshair;
}

.-zazz-outline {}

.-zazz-modal {
	position: absolute;
	width: 350px;
	height: auto;
	display: none;
	z-index: 50;
	background-color: #111111;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #444444;
	overflow: hidden;
}

.-zazz-modal .-zazz-links a:link, .-zazz-modal .-zazz-links a:visited {
	color: white;
	text-decoration: none;
}

.-zazz-modal .-zazz-links a:hover {
	color: #bfbfbf;
}

.-zazz-modal table {
	width: 100%;
}

.-zazz-modal-header {
	background-color: #eeeeee;
	color: #111111;
	font-family: arial;
	font-size: 20px;
	height: 35px;
	padding: 5px;
	width: 100%;
	border: #cccccc solid 1px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.-zazz-modal-body {
	padding: 10px;
	width: 100%;
	height: auto;
	color: #eeeeee;
	font-family: arial;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.-zazz-modal-footer {
	height: 35px;
	width: 100%;
	padding: 0px;
}

.-zazz-modal input, .-zazz-modal-footer a {
	border-radius: 5px;
	border: none;
	padding: 5px;
	font-family: arial;
	font-size: 14px;
}

.-zazz-modal select {
	font-family: arial;
	font-size: 14px;	
	background-color: white;
}

.-zazz-modal input[type="text"], *.-zazz-modal input[type="password"] {
	margin: 5px;
	width: 161px;
}

.-zazz-modal input[type="button"], .-zazz-modal input[type="submit"], *.-zazz-modal-footer a {
	min-width: 80px;
	cursor: pointer;
}

.-zazz-modal input[type="button"]:focus, .-zazz-modal input[type="submit"]:focus,
.-zazz-modal input[type="button"]:hover, .-zazz-modal input[type="submit"]:hover,
.-zazz-modal-footer a:hover {
	background-color: #cfcfcf;
}

.-zazz-modal-footer a { 
	display: inline-block;
	background-color: #efefef;
	text-decoration: none;
}

.-zazz-modal-footer a:link, .-zazz-modal-footer a:visited {
	color: black;
}

#-zazz-modal-confirm {
	z-index: 100;
}

#-zazz-modal-mouse {
	width: 300px;
	margin: 10px;
	background-color: #eeeeee;
	border: #cccccc 1px solid;
}

#-zazz-modal-mouse .-zazz-modal-body {
  color: #222222;
	font-size: 14px;
}

.-zazz-modal-files {
	padding: 10px 0px;
	width: 100%;
	height: 100%;
	background-color: #111111;
	color: #eeeeee;
	font-family: arial;
	text-align: center;
	overflow-y: auto;
}

.-zazz-modal-files table {
	width: 100%;
	text-align: center;
	color: #eeeeee;
}

.-zazz-modal-files a:link, .-zazz-modal-files a:visited {
	color: white;
	text-decoration: none;
}

.-zazz-modal-files a:hover {
	color: #bfbfbf;
}

.-zazz-delete-resource {
	cursor: pointer;
}

.-zazz-modal select {
	border-radius: 5px;
	border: none;
	padding: 2px;
	width: 161px;
	height: 26px;
}

/*------------------------------------------NAVBAR------------------------------------------------*/

.-zazz-navbar input {
	border-radius: 5px;
	border: 1px #c8c8c8 solid;
	padding: 5px;
	margin-right: 8px;
	margin-top: 1px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.-zazz-navbar select {
	border-radius: 5px;
	border: 1px #c8c8c8 solid;
	padding: 5px;
	margin-right: 8px;
	width: 80px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	background-color: white;
}

.-zazz-navbar {
	background-color: #eeeeee;
	color: #222222;
	font-weight: 500;
	height: 37px;
	border-style: solid;
	border-color: #c8c8c8;
	border-width: 1px 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 20;
	box-sizing: border-box;
	vertical-align: middle;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.-zazz-btn {
	/*
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	*/
	line-height: 100%;
	min-width: 50px;
	width: 66px;
	height: 35px;
	display: inline-block;
	text-align: center;
	padding: 11px 0px;
	
	cursor: pointer;
	text-decoration: none;
}

.-zazz-btn:link, .-zazz-btn:visited {
	color: black;
}

.-zazz-divider {
	width: 1px;
	height: 35px;
	background-color: #c8c8c8;
	display: inline-block;
}

.-zazz-btn:hover {
	background-color: #d4d4d4;
}

.-zazz-btn-group {
	height: 100%;
	display: inline-block;
}

.-zazz-btn:focus {
	color: yellow;
}

.-zazz-active-btn {
	background-color: #d4d4d4;
}

#-zazz-loader-image {
	padding: 0px 8px;
}

/*-----------------------------------------CONTENT------------------------------------------------*/


.-zazz-view {
	height: 65%;
}

.-zazz-content-view {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 37px;
	bottom: 0px;
	overflow-y: auto;
}

.-zazz-hidden { 
	width: 0px;
	height: 0px;
	overflow: hidden;
}

.-zazz-hidden div {
	width: 1px;
	height: 1px;
}

/*-----------------------------------CODE AREA/SPECIAL NAVBAR-------------------------------------*/

.-zazz-id-btn, .-zazz-class-btn, .-zazz-fixed-btn, .-zazz-fixed-status-btn {
	text-align: left;
	height: 100%;
	display: inline-block;
	padding: 11px 8px;
	text-align: center;
	line-height: 100%;
}

#-zazz-modal-html-editor {
	width: 75%;
}

#-zazz-fixed, #-zazz-loader-bar, .-zazz-editor-container {
	display: none;
	height: 100%;
}

#-zazz-fixed-status-btn {
	display: inline-block;
	height: 100%;
}

.-zazz-fixed-status-btn {
	width: 210px;
}

#-zazz-fixed-horizontal {
	display: none;
}

#-zazz-fixed-vertical {
	display: none;
}

.-zazz-id-btn {
	width: 50px;
}

.-zazz-id-input, .-zazz-class-input {
	width: 160px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.-zazz-divide-navbar {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.-zazz-code-area {
	position: absolute;
	height: 35%;
	width: 100%;
	bottom: 0px;
	white-space: nowrap;
	z-index: 20;
}

.-zazz-code-area .-zazz-navbar {
	cursor: n-resize;
}

.-zazz-code-blocks {
	position: absolute;
	top: 37px;
	bottom: 0px;
	width: 100%;
	background-color: #111111;
	overflow-x: auto;
	overflow-y: hidden;	
}

.-zazz-code-block {
	width: 100%;
	max-height: 100%;
	background-color: transparent;
	resize: horizontal;
	overflow: auto;
	color: white;
	padding: 8px 8px 8px 18px;
	border-style: solid;
	border-width: 0px 6px 0px 0px;
	margin-right: 4px;
	background-image: url("images/x.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	display: none;
	font-family: "Monaco", "Andale Mono", "Lucida Console", "Bitstream Vera Sans Mono", "Courier New",
		"Courier", "monospace";
	line-height: 16px;
	font-size: 14px;
	white-space: pre;
}


.-zazz-code-column {
	height: 100%;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

.-zazz-code-blocks .-zazz-css-code {
	width: 30%;
	height: 100%;
	display: inline-block;
	overflow: auto
}

.-zazz-html-btn {
	background-color: #ffcccc;
}
.-zazz-html-code {
	border-color: #ff9999;
	color: #ff9999;
}
.-zazz-html-code:focus {
}

.-zazz-css-btn {
	background-color: #cc99ff;
}
.-zazz-css-code {
	border-color: #cc99ff;
	color: #cc99ff;
	background-image: none;
}
.-zazz-css-code:focus {
}

.-zazz-js-btn {
	background-color: #ccffcc;
}
.-zazz-js-code {
	border-color: #99ff99;
	color: #99ff99;
}
.-zazz-js-code:focus {
}

.-zazz-php-btn {
	background-color: #ccccff;
}
.-zazz-php-code {
	border-color: #9999ff;
	color: #9999ff;
}
.-zazz-php-code:focus {
}

.-zazz-mysql-btn {
	background-color: #ffffcc;
}
.-zazz-mysql-code {
	border-color: #ffff99;
	color: #ffff99;
}
.-zazz-mysql-code:focus {
}

.-zazz-offset-btn, .-zazz-location-btn {
	width: 50%;
}

.-zazz-code-locked {
	background-image: url("images/lock.png");
}

.-zazz-display {
	display: none;
	position: absolute;
	top: 0px;
	left: 305px;
	right: 396px;
	color: #cfcfcf;
}

.-zazz-offset-btn:hover, .-zazz-location-btn:hover {
	background-color: transparent;
}

.-zazz-dropdown {
	display: none;
	position: absolute;
	background-color: #eeeeee;
	border: #cccccc 1px solid;
	width: 67px;
	height: auto;
	display: none;
	z-index: 50;
	text-align: center;
	color: #111111;
	font-family: arial;
	font-size: 14px;
}