/*-------------------------------------------RESET------------------------------------------------*/

* {
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}

:focus {
	outline: none;
}

/*-----------------------------------------SETUP--------------------------------------------------*/

body {
	background-color: #cfcfcf;
}

.-zazz-set-right {
	position: absolute;
	right: 0px;
}

.-zazz-horizontal-line-left {
	height: 1px;
	left: 0px;
}

.-zazz-horizontal-line-right {
	height: 1px;
	right: 0px;
}

.-zazz-vertical-line-top {
	width: 1px;
	top: 0px;
}

.-zazz-vertical-line-bottom {
	width: 1px;
	bottom: 0px;
}

.-zazz-line {
	background-color: black;
	z-index: 10;
	position: absolute;
	display: none;
	cursor: crosshair;
}

.-zazz-outline-left {
	width: 4px;
}

.-zazz-outline-right {
	width: 4px;
}

.-zazz-outline-top {
	height: 4px;
}

.-zazz-outline-bottom {
	height: 4px;
}

.-zazz-outline {
	display: none;
	position: absolute;
	z-index: 5;
	background-color: #ffff00;
}

.-zazz-modal {
	position: absolute;
	width: 350px;
	height: auto;
	display: none;
	z-index: 50;
	background-color: black;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0px 0px 20px white;
}

.-zazz-modal .-zazz-links a:link, .-zazz-modal .-zazz-links a:visited {
	color: white;
}

.-zazz-modal .-zazz-links a:hover {
	color: #bfbfbf;
}

.-zazz-modal table {
	width: 100%;
}

.-zazz-modal-header {
	background-color: #303030;
	color: white;
	font-family: arial;
	font-size: 20px;
	height: 35px;
	padding: 5px;
	width: 100%;
}

.-zazz-modal-body {
	padding: 10px;
	width: 100%;
	height: auto;
	color: white;
	font-family: arial;
}

.-zazz-modal-footer {
	height: 35px;
	width: 100%;
	padding: 0px;
}

.-zazz-modal input {
	border-radius: 5px;
	border: none;
	padding: 5px;
}

.-zazz-modal input[type="text"], *.-zazz-modal input[type="password"] {
	margin: 5px;
}

.-zazz-modal-footer input[type="button"], .-zazz-modal-footer input[type="submit"] {
	min-width: 80px;
	cursor: pointer;
}

.-zazz-modal-footer input[type="button"]:hover, .-zazz-modal-footer input[type="submit"]:hover {
	background-color: #cfcfcf;
}

#-zazz-modal-confirm {
	z-index: 100;
}

/*------------------------------------------NAVBAR------------------------------------------------*/

.-zazz-navbar input {
	border-radius: 5px;
	border: none;
	padding: 5px;
}

.-zazz-navbar {
	background-color: #303030;
	color: #ffffff;
	height: 37px;
	border-style: solid;
	border-color: black;
	border-width: 1px 0px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	z-index: 20;
}

.-zazz-btn {
	/*
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
 */
	min-width: 50px;
	width: 70px;
	height: 35px;
	display: inline-block;
	text-align: center;
	font-family: arial;
	padding: 6px 4px;
	border: transparent solid 4px;
	font-size: 15px;
	cursor: pointer;
}

.-zazz-divider {
	width: 1px;
	height: 35px;
	background-color: black;
	display: inline-block;
}

.-zazz-btn:hover {
	background-color: #101010;
}

.-zazz-code-btn, .-zazz-zazz-btn {
	font-weight: bold;
}

.-zazz-btn-group {
	height: 100%;
	display: inline-block;
}

.-zazz-btn:focus {
	border: #ffff00 solid 4px;
}

.-zazz-active-btn {
	background-color: #101010;	
	border: #dfdfdf  solid 4px;
}

/*-----------------------------------------CONTENT------------------------------------------------*/


.-zazz-view {
	height: 65%;
}

.-zazz-content-view {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 37px;
	bottom: 0px;
	overflow-y: auto;
	background-color: #6699ff;
}

body, html {
	width: 100%;
	height: 100%;
}

.-zazz-content {
	width: 100%;
	height: 1000px;
}

.-zazz-element {
	height: 100%;
	width: 100%;
	/*background-image: url("img/blue.png");*/
	border: #0000cc dashed 2px;
	display: inline-block;
}

.-zazz-row {
	height: 100%;
	width: 100%;
}

.-zazz-row-group {
	height: 100%;
	width: 100%;
	display: inline-block;
}

/*------------------------------------------CODE AREA---------------------------------------------*/

.-zazz-id-btn, .-zazz-class-btn {
	text-align: left;
	height: 100%;
	display: inline-block;
	font-family: arial;
	padding: 6px;
	border: transparent solid 4px;
	font-size: 15px;
	text-align: center;
}

.-zazz-id-btn {
	width: 50px;
}

.-zazz-id-input {
	width: 150px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.-zazz-class-input {
	width: 150px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.-zazz-save-all-btn {
	padding: 6px 0px;
}

.-zazz-divide-navbar {
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: black;
}

.-zazz-code-area {
	position: absolute;
	height: 35%;
	width: 100%;
	bottom: 0px;
	white-space: nowrap;
	z-index: 20;
}

.-zazz-code-area .-zazz-navbar {
	cursor: n-resize;
}

.-zazz-code-blocks {
	position: absolute;
	top: 35px;
	bottom: 0px;
	width: 100%;
	background-color: black;
	overflow-x: auto;
}

.-zazz-code-block {
	width: 30%;
	height: 100%;
	background-color: transparent;
	resize: horizontal;
	overflow: auto;
	color: white;
	padding: 8px 8px 8px 18px;
	border-style: solid;
	border-width: 6px 0px 0px 0px;
	margin-right: 4px;
	background-image: url("img/x.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;
	display: none;
	font-family: 'courier';
}

.-zazz-html-btn {
	color: #ff9999;
}
.-zazz-html-code {
	border-color: #ff9999;
	color: #ff9999;
}
.-zazz-html-code:focus {
	box-shadow: 0px 0px 20px #ff9999;
}

.-zazz-css-btn {
	color: #cc99ff;
}
.-zazz-css-code {
	border-color: #cc99ff;
	color: #cc99ff;
	background-image: none;
}
.-zazz-css-code:focus {
	box-shadow: 0px 0px 20px #cc99ff;
}

.-zazz-js-btn {
	color: #99ff99;
}
.-zazz-js-code {
	border-color: #99ff99;
	color: #99ff99;
}
.-zazz-js-code:focus {
	box-shadow: 0px 0px 20px #99ff99;
}

.-zazz-php-btn {
	color: #9999ff;
}
.-zazz-php-code {
	border-color: #9999ff;
	color: #9999ff;
}
.-zazz-php-code:focus {
	box-shadow: 0px 0px 20px #9999ff;
}

.-zazz-mysql-btn {
	color: #ffff99;
}
.-zazz-mysql-code {
	border-color: #ffff99;
	color: #ffff99;
}
.-zazz-mysql-code:focus {
	box-shadow: 0px 0px 20px #ffff99;
}

.-zazz-offset-btn, .-zazz-location-btn {
	width: 50%;
}

.-zazz-display {
	display: none;
	position: absolute;
	top: 0px;
	left: 280px;
	right: 280px;
}

.-zazz-dropdown {
	display: none;
	position: absolute;
	background-color: #303030;
	border: black 1px solid;
	width: 70px;
	height: auto;
	display: none;
	z-index: 50;
	text-align: center;
	color: white;
}