
* {
	margin: 0px;
	padding: 0px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	vertical-align: middle;
}

:focus {
	outline: none;
}

body, html {
	width: 100%;
	height: 100%;
}

body {
	overflow-y: scroll;
}

.-zazz-content {
	width: 100%;
	height: 1000px;
}

.-zazz-element {
	height: 100%;
	width: 100%;
	/*background-image: url("img/blue.png");*/
	/*border: #0000cc dashed 2px;*/
	display: inline-block;
}

.-zazz-row {
	height: 100%;
	width: 100%;
}

#element-0 {

}

#element-1 {

}

#element-2 {

}

#element-3 {

}

